# Postgres config
# If you are connecting to a musicbrainz-docker instance for MusicBrainz data, this string should work:
DB_CONNECT_MB = "dbname=musicbrainz_db user=musicbrainz host=localhost port=25432 password=musicbrainz"

# Typesense config
TYPESENSE_API_KEY = "<add your key here>"
TYPESENSE_HOST = "localhost"

# For use in our Docker setup
#DB_CONNECT_MB = "dbname=musicbrainz_db user=musicbrainz host=db port=5432 password=musicbrainz"
#TYPESENSE_HOST = "typesense"
