click
psycopg2-binary>=2.9.3
ujson>=5.4.0
Unidecode>=1.3.6
sentry-sdk[flask]
python-Levenshtein
datasethoster@git+https://github.com/mayhem/data-set-hoster.git@fix-error-handling
pysolr
ago
troi>=2024.2.9.0
wheel
